#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: rgba(22, 22, 22, 1);
}

h1, h2, h3, p {
  color: rgba(255, 255, 255, 1);
}

h1, 
h2 {
  text-transform: uppercase;
}

h2 {
  font-size: 5rem;
}

h3 {
  color: rgba(180, 180, 180, 1);
}

p {
  font-size: 1.5rem;
}

button {
  margin: 2rem;
}

img {
  width: 50%;
  height: 50%;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
